<a href="https://colab.research.google.com/github/mohammadRahimi1993/PythonEducation/blob/main/Spark_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# innstall java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# install spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

# unzip the spark file to the current folder
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

# set your spark folder to your system path environment. 
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"


# install findspark using pip
!pip install -q findspark

In [3]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PySpark 3.2 on Google Cloab").getOrCreate()

In [5]:
from re import X

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, ArrayType
from pyspark.sql.functions import col,array_contains

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

arrayStructureData = [("Hossein","M"),("Hassan","M"),("Ali","M"),("Hossein","M"),("Sajad","M"),
("Abbas","M"),("zahra","F"),("bahar","F"),("sahar","F"),("zeinab","F"),("sahab","M"),
("alireza","M"),("sadegh","M"),("sajad","M"),("farshad","M"),("mohsen","M"),("mahdi","M"),
("milad","M"),("aliye","M"),("amirali","M"),("farzin","M"),("mokhtar","M"),("rashid","M"),
("raziye","F"),("marziye","F"),("saed","M"),("esi","M"),("amir","M"),("hossein","M"),
("sharbano","M"),("Mohammad","M"),("Hassan","F"),("Ali","F"),("Hossein","M"),("Sajad","M"),("Abbas","M"),        
("heidar","M"),("ghohar","F"),("setayesh","F"),("masoud","M"),("elham","M"),("Abbas","M"),      
("Mohammad","M"),("Hassan","F"),("Ali","F"),("Hossein","M"),("Sajad","M"),("Abbas","M"),       
("Mohammad","M"),("Hassan","F"),("Ali","F"),("Hossein","M"),("Sajad","M"),("Abbas","M"),
("Mohammad","M"),("Hassan","F"),("Ali","F"),("Hossein","M"),("Sajad","M"),("Abbas","M"),("Mohammad","M"),
("Hassan","F"),("Ali","F"),("Hossein","M"),("Sajad","M"),("Abbas","M")]
        
arrayStructureSchema = StructType([
         StructField('Name', StringType(), True),
         StructField('gender', StringType(), True)
         ])


df = spark.createDataFrame(data = arrayStructureData, schema = arrayStructureSchema)
df.printSchema()
df.show(truncate=False)
df.filter(df.Name == "amirali").show(truncate=False)

root
 |-- Name: string (nullable = true)
 |-- gender: string (nullable = true)

+-------+------+
|Name   |gender|
+-------+------+
|Hossein|M     |
|Hassan |M     |
|Ali    |M     |
|Hossein|M     |
|Sajad  |M     |
|Abbas  |M     |
|zahra  |F     |
|bahar  |F     |
|sahar  |F     |
|zeinab |F     |
|sahab  |M     |
|alireza|M     |
|sadegh |M     |
|sajad  |M     |
|farshad|M     |
|mohsen |M     |
|mahdi  |M     |
|milad  |M     |
|aliye  |M     |
|amirali|M     |
+-------+------+
only showing top 20 rows

+-------+------+
|Name   |gender|
+-------+------+
|amirali|M     |
+-------+------+

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]") \
    .appName("SparkByExamples.com").getOrCreate()

data = ["Mohammad","masoud","raziye","maziye",
"saeid","sajad","ali","hossein","hassan", "hame","hamid","omid","Mohammadreza", "farzaneh","ahmad","ghasem","sahar",
"setayesh", "vahid","mahid","esmael","jan","habib","soheil","Hossein","Hassan","Ali", "Hossein","Sajad", "Abbas","zahra","bahar", "sahar","zeinab",
"sahab","alireza","sadegh","sajad","farshad","mohsen","mahdi","milad","aliye","amirali","farzin"
"mokhtar","rashid","raziye","marziye","saed","esi","amir",
"hossein","sharbano","Mohammad","Hassan","Ali","Hossein","Sajad","Abbas","heidar","ghohar","setayesh","masoud","elham","Abbas",      
"Mohammad","Hassan","Ali","Hossein","Sajad","Abbas","Mohammad","Hassan","Ali","Hossein","Sajad","M","Abbas",
"Mohammad","Hassan","Ali","Hossein","Sajad","Abbas","Mohammad","Hassan","Ali","Hossein","Sajad","Abbas"]

rdd=spark.sparkContext.parallelize(data)
rdd2=rdd.map(lambda x: (x.upper()))
for element in rdd2.collect():
    print(element)

MOHAMMAD
MASOUD
RAZIYE
MAZIYE
SAEID
SAJAD
ALI
HOSSEIN
HASSAN
HAME
HAMID
OMID
MOHAMMADREZA
FARZANEH
AHMAD
GHASEM
SAHAR
SETAYESH
VAHID
MAHID
ESMAEL
JAN
HABIB
SOHEIL
HOSSEIN
HASSAN
ALI
HOSSEIN
SAJAD
ABBAS
ZAHRA
BAHAR
SAHAR
ZEINAB
SAHAB
ALIREZA
SADEGH
SAJAD
FARSHAD
MOHSEN
MAHDI
MILAD
ALIYE
AMIRALI
FARZINMOKHTAR
RASHID
RAZIYE
MARZIYE
SAED
ESI
AMIR
HOSSEIN
SHARBANO
MOHAMMAD
HASSAN
ALI
HOSSEIN
SAJAD
ABBAS
HEIDAR
GHOHAR
SETAYESH
MASOUD
ELHAM
ABBAS
MOHAMMAD
HASSAN
ALI
HOSSEIN
SAJAD
ABBAS
MOHAMMAD
HASSAN
ALI
HOSSEIN
SAJAD
M
ABBAS
MOHAMMAD
HASSAN
ALI
HOSSEIN
SAJAD
ABBAS
MOHAMMAD
HASSAN
ALI
HOSSEIN
SAJAD
ABBAS

In [7]:
from operator import add
df1 = spark.read.text("/content/drive/MyDrive/Text.txt",lineSep=" ").rdd
rrmap=df1.map(lambda x: list(x))
for element in rrmap.collect():
    print(element[0].upper())
df1.reduce(add)

WESTERN
NATIONS
AGREED
TO
EXCLUDE
SOME
RUSSIAN
BANKS
FROM
THE
SWIFT
MESSAGING
SYSTEM
USED
FOR
TRILLIONS
OF
DOLLARS
WORTH
OF
TRANSACTIONS
BETWEEN
BANKS
AROUND
THE
WORLD
FURTHER
ISOLATING

RUSSIA’S

ECONOMY
AND
FINANCIAL
SYSTEM

('Western',
 'nations',
 'agreed',
 'to',
 'exclude',
 'some\r\nRussian',
 'banks',
 'from',
 'the',
 'SWIFT',
 'messaging',
 'system\r\nused',
 'for',
 'trillions',
 'of',
 'dollars',
 'worth',
 'of',
 'transactions\r\nbetween',
 'banks',
 'around',
 'the',
 'world',
 'further\r\nisolating',
 '\r\nRussia’s',
 '\r\neconomy',
 'and',
 'financial',
 'system')

In [8]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("parquetFile").getOrCreate()
data =[("James ","","Smith","36636","M",3000),
              ("Michael ","Rose","","40288","M",4000),
              ("Robert ","","Williams","42114","M",4000),
              ("Maria ","Anne","Jones","39192","F",4000),
              ("Jen","Mary","Brown","","F",-1)]
columns=["firstname","middlename","lastname","dob","gender","salary"]
df=spark.createDataFrame(data,columns)
df.write.mode("overwrite").parquet("/tmp/output/people.parquet")
parDF1=spark.read.parquet("/tmp/output/people.parquet")
parDF1.createOrReplaceTempView("parquetTable")
parDF1.printSchema()
parDF1.show(truncate=False)

parkSQL = spark.sql("select * from ParquetTable where salary >= 4000 ")
parkSQL.show(truncate=False)

spark.sql("CREATE TEMPORARY VIEW PERSON USING parquet OPTIONS (path \"/tmp/output/people.parquet\")")
spark.sql("SELECT * FROM PERSON").show()

df.write.partitionBy("gender","salary").mode("overwrite").parquet("/tmp/output/people2.parquet")

parDF2=spark.read.parquet("/tmp/output/people2.parquet/gender=M")
parDF2.show(truncate=False)

spark.sql("CREATE TEMPORARY VIEW PERSON2 USING parquet OPTIONS (path \"/tmp/output/people2.parquet/gender=F\")")
spark.sql("SELECT * FROM PERSON2" ).show()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|dob  |gender|salary|
+---------+----------+--------+-----+------+------+
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
+---------+----------+--------+-----+------+------+

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|dob  |gender|salary|
+---------+----------+--------+-----+------+------+
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Michael  |Rose      |        |40288|M     |4000  |
+---------+----------+--------+-----+------+------+

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|  dob|gender|salary|
+---------+----------+--------+-----+------+------+
|  Robert |          |Williams|42114|     M|  4000|
|   Maria |      Anne|   Jones|39192|     F|  4000|
|      Jen|      Mary|   Brown|     |     F|    -1|
|   James |          |   Smith|36636|     M|  3000|
| Michael |      Rose|        |40288|     M|  4000|
+---------+----------+--------+-----+------+------+

+---------+----------+--------+-----+------+
|firstname|middlename|lastname|dob  |salary|
+---------+----------+--------+-----+------+
|Robert   |          |Williams|42114|4000  |
|Michael  |Rose      |        |40288|4000  |
|James    |          |Smith   |36636|3000  |
+---------+----------+--------+-----+------+

+---------+----------+--------+-----+------+
|firstname|middlename|lastname|  dob|salary|
+---------+----------+--------+-----+------+
|   Maria |      Anne|   Jones|39192|  4000|
|      Jen|      Mary|   Brown|     |    -1|
+---------+----------+--------+-----+------+